table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .linethrough {
    text-decoration: line-through;
  }

  #loginDialog {
    width:50%;background-color:#F4FFEF;border:1px dotted black;
  }